<!-- {! and enter to get basic html} -->
<!-- header -->
<!DOCTYPE html>
<html lang="en">


<%- include('layouts/header'); -%>

    <body>

        <div id="container">

            <div class="banner">
                <!-- navigation -->
                <%- include('layouts/navbar'); -%>
                    <div class="bannerText">
                        <h2 class="authorName">Jerry Chen</h2>
                        <!-- <div class="nameTagmov"> -->
                        <h3 class="authorSlogan">Coding and entreneurship</h3>
                        <!-- </div> -->


                    </div>

            </div>


            <!-- search button -->
            <!-- <form class="search">
                <input 
                action='/posts/search'
                method='POST'
                type="search" 
                placeholder="Enter keyword" 
                name="search" />

                <button type="submit">Submit</button>
            </form> -->

            <!-- articles -->

            <div class="pageContent">
                <h3>
                    Are you still curious?
                </h3>
                <p>Hi, my name is Jerry and I majored in business in my uni year, focusing on Finance. Having worked
                    2 years
                    in strategic consulting, then I moved on
                    to one of the fortune 500 companies to learn the commercial side of things. While in the
                    business world,
                    for my curiosity in technology,
                    I self-taught my self web development technology. I did not plan out the self-taught journey as
                    such but
                    due to Covid19, I
                    have to postpone my plan of further studies in computer science. So I started self-learning
                    while
                    WFH...After about 1 year, I have the modules that
                    are offered by most bootcamps, while refering to their course contents.
                </p>

                <p>Why curiosity as the centre piece of this blog? During my journey of learning business and tech,
                    I
                    released
                    curiosity is a form of super energy that lies dormant within you and me. With this realization,
                    I was
                    able harness this untapped
                    energy to accelerate my learning. In this blog, I will share with you all about this, while
                    specifically
                    focusing on business and technology because
                    both has become increasingly connected nowadays.
                </p>



                <!-- pass database data into the html -->
                <% for(var i=0; i<blogposts.length; i++) { %>
                    <div class="blogposts">
                        <a href="/post/<%= blogposts[i]._id %>">
                            <div class="titleBanner">
                                <h2 class="cardTitle">
                                    <%= blogposts[i].title %>
                                </h2>

                            </div>


                            <div class="blogBody">
                                <%- blogposts[i].body.split('</p>')[0] + '..'+ '</p>' %>
                            </div>
                        </a>
                        <p class="postedBy">Posted by Jerry
                            on <%= blogposts[i].datePosted.toDateString() %>
                        </p>
                    </div>
                    <% } %>



            </div>

            <!-- footer -->


            <%- include('layouts/footer'); -%>

        </div>

        <%- include('layouts/script'); -%>

    </body>

</html>