<!-- {! and enter to get basic html} -->
<!-- header -->
<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>

        <div id="containerLogin">

            <div class="banner bannerHeightLogin">
                <!-- navigation -->
                <%- include('layouts/navbar'); -%>

            </div>
            <!-- articles -->
            <div class="pageContent">
                <!-- <hr style="border-top: 1px solid gray; z-index: 200;"> -->

                <div class="blogpost">

                    <!-- pass database data into the html -->

                    <a>
                        <h2 class="blogTitle">
                            <%= blogpost.title %>
                        </h2>

                        <h3 class="blogBody">
                            <%- blogpost.body %>
                        </h3>
                    </a>
                    <p class="postedBy">Posted by Jerry Chen on <%= blogpost.datePosted.toDateString() %>
                    </p>

                </div>

            </div>
            <!-- footer -->
            <%- include('layouts/footer'); -%>

        </div>




        </div>
        <%- include('layouts/script'); -%>

    </body>

</html>